# Setting a Baseline With a Logistic Regression Model

In [2]:
import pandas as pd

train_df = pd.read_csv("data/train.csv")
val_df = pd.read_csv("data/validation.csv")
test_df = pd.read_csv("data/test.csv")

In [3]:
train_df.head()

                                                text  label
0  The only reason I saw "Shakedown" was that it ...      0
1  This is absolute drivel, designed to shock and...      0
2  Lots of scenes and dialogue are flat-out goofy...      1
3  ** and 1/2 stars out of **** Lifeforce is one ...      1
4  I learned a thing: you have to take this film ...      1